/* desde aca va mi css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
}

.image-fondo {
    background-color: #ecf0f1;
    background-position: center top;
    margin: auto;
}

.fondo {
    color: #fff;
    height: 800px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;
    text-shadow: #111 0px 0px 10px;
}

.Titulo {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 300%;
    color: #000;
    text-shadow: none;
}

div.c-wrapper {
    width: 80%;
    /* for example */
    margin: auto;
}
#carouselExampleControls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;
    margin-bottom: 10000px;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    /* use this, or not */
    margin: auto;
}

.carousel-item {
    transition-duration: 500ms;
    transition: transform 2s ease, opacity .5s ease-out
}

div.image-fondo.fondo {
    padding-bottom: 200px;
    height: 1000px;
}

div.image-fondo.fondo button.btn.btn-primary {
    margin: 0px auto 100px;
    padding: 0 20px;
    text-align: center;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    height: 55px;
    width: 200px;
    line-height: 37px;
    border: 1px solid white;
    color: #fff;
    background: #0d6efd;
    border-radius: 3px;
}