/* desde aca va mi css */
button#btn-abrir-popup2:hover{
	background-color: rgba(0,0,0,.3);
}
button#btn-abrir-popup2{
	padding: 0 20px;
    text-align: center;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    border: white;
	height: 38px;
    line-height: 37px;
	border: 1px solid white;
	color: #fff;
	background: #0d6efd;;
	border-radius: 3px;
  margin-left:620px;
}
footer.text-center.text-white{
	position: relative;
}
button#btn-abrir-popup.btn-abrir-popup:hover{
	background-color: rgba(0,0,0,.3);
}
button#btn-abrir-popup.btn-abrir-popup{
	margin-left:20px;padding: 0 20px;
    text-align: center;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
	height: 38px;
    line-height: 37px;
	border: 1px solid white;
	color: #fff;
	background: #0d6efd;
	border-radius: 3px;
    
}
* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

body {
	background:  #ecf0f1;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

.contenedor article {
	line-height: 28px;
}

.contenedor article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}

.contenedor article p {
	margin-bottom: 20px;
}

.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}
.popup form .contenedor-inputs {
	opacity: 0;
}
option {
	text-align-last:center;
}
.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 10px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
.curso {
	width: 50%;
	margin-bottom: 5px;
	height: 52px;
	font-size: 18px;
	line-height:52px;
	text-align-last:center;
	color:  #797d7f  ;
	border: 1px solid #BBBBBB;
}
.grado {
	width: 49%;
	margin-bottom: 5px;
	height: 52px;
	font-size: 18px;
	line-height:52px;
	text-align-last:center;
	color: #797d7f ;
	border: 1px solid #BBBBBB;
}
.tipodocu {
	width: 100%;
	margin-bottom: 10px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align-last:center;
	color: #797d7f ;
	border: 1px solid #BBBBBB;
} 

.rol{
	width: 100%;
	margin-bottom: 10px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align-last:center;
	border: 1px solid #BBBBBB;
	color: #797d7f ;
} 
/* aca estilos iniciar sesion */
.contenedor-inputs2 {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}
.contenedor-inputs2 article {
	line-height: 28px;
}
.contenedor-inputs2 article h1 {
	font-size: 30px;
	text-align: left;
	padding: 50px 0;
}
.contenedor-inputs2 article p {
	margin-bottom: 20px;
}
.contenedor article .btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}
/* ------------------------- */
/* POPUP */
/* ------------------------- */
.overlay-inicio {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}
.overlay-inicio.active {
	visibility: visible;
}

.popup-inicio {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup-inicio .btn-cerrar-popup2 {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup-inicio .btn-cerrar-popup2:hover {
	color: #000;
}

.popup-inicio h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup-inicio h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}



.popup-inicio form .contenedor-inputs2 {
	opacity: 0;
}





option {

	text-align-last:center;
}

.popup-inicio form .contenedor-inputs2 input {
	width: 100%;
	margin-bottom: 10px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup-inicio form .btn-submit2 {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup-inicio form .btn-submit2:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup-inicio.active {	transform: scale(1); opacity: 1; }
.popup-inicio.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup-inicio.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup-inicio.active .contenedor-inputs2 { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

.tipodocu {
	width: 100%;
	margin-bottom: 10px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align-last:center;
	color: #797d7f ;
	border: 1px solid #BBBBBB;
} 



/* desde aca va el css de alert personalizado */


.contenedor-alert_registro {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}


/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay-alert_registro{
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	
}
.overlay-alert_registro.disable{
visibility: hidden;
}


.popup-alert_registro {
	background: #F8F8F8;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
}

.popup-alert_registro.disable {
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;

}

.popup-alert_registro .btn-cerrar-alert_registro{
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup-alert_registro .btn-cerrar-alert_registro:hover {
	color: #000;
}

.popup-alert_registro h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
}

.popup-alert_registro h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
}



.popup-alert_registro .contenedor-alert_registro {
	opacity: 0;
}



.popup-alert_registro .btn-submit4 {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup-alert_registro .btn-submit4:hover {
	background: rgba(94,125,227, .9);
}

.popup-alert_registro .btn-submit3 {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup-alert_registro .btn-submit3:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup-alert_registro {	transform: scale(1); opacity: 1; }
.popup-alert_registro h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup-alert_registro h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup-alert_registro .contenedor-alert_registro { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
















.image-fondo {
  background-color: #ecf0f1;
  background-position:center top;
  margin: auto;
}

.fondo{
color: #fff;
height: auto;
text-align: center;
vertical-align: middle;
text-shadow: #111 0px 0px 10px;
}

.Titulo {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size:300%;
  color: #000;
  text-shadow: none;
}

div.c-wrapper{
  width: 80%; /* for example */
  margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 100%; /* use this, or not */
margin: auto;
}

.carousel-item {
  transition-duration: 500ms;
  transition: transform 2s ease, opacity .5s ease-out
}
